##? Generate complete using: ansible-config init --disabled -t all > <path>/ansible.cfg

[defaults]

# (boolean) Set this to "False" if you want to avoid host key checking by the underlying tools Ansible uses to connect to the host
host_key_checking = False
force_color = True

[privilege_escalation]

# (boolean) Toggle to prompt for privilege escalation password.
become_ask_pass=False

# (string) Privilege escalation method to use when `become` is enabled.
become_method=sudo

# (string) The user your login/remote user 'becomes' when using privilege escalation, most systems will use 'root' when no user is specified.
become_user=root
